Last login: Thu Apr 26 16:14:33 on ttys001
wireless-10-145-254-46:~ aashimagarg$ cd Desktop/
wireless-10-145-254-46:Desktop aashimagarg$ ls
09DEEE0F-7383-465C-B76F-ADF5F2499963.jpg
33B0F1A6-62FC-4601-92BC-25FEF4A621BC.JPG
AASHIMA_GARG
AASHIMA_GARG.zip
AGARG_RESUME SPRING 2017.doc
AGARG_RESUME SPRING 2017.pdf
AGARG_RESUME SUMMER 2017.doc
AGARG_RESUME SUMMER 2017.pdf
AGARG_RESUME.doc
Alaska
Archive
Article Summary 10-19 Answers.docx
Article Summary 10-19.docx
Banquet 2
CertificateSigningRequest.certSigningRequest
DSC_1023.jpg
Disney - Epcot
EE 316 home.webloc
EWeek2018
GameDay
GoogleMaps
Homework1
IMG_0366.jpeg
IMG_1476.JPG.jpeg
IMG_2561.JPG
IMG_8255.JPG
IMG_8734 2.jpg
IMG_8734.jpg
ISL article
Junior Year
Mr.SpiritApp
OS-meiosis
SEC Cockrell Cares Ish!!
SEC Election Slides 2018
SEC Election Slides 2018.zip
SECLogoSet_2012.png
Screenshots
Seattle-Good
Summer
aag3639_as76696
garg_aag3639
garg_aag3639.pdf
garg_aag3639.zip
menger
minecraft
old_menger
ray-tracer
ray_ms1_collab.rtf
sb-to-flight-2018.pdf
skinning
skinning-ms1-collab.txt
skinning-project
software_lab_.docx
software_lab_.pdf
software_lab_2.pdf
software_lab_4.pdf
software_proposal.docx
software_proposal.pdf
software_proposal2.docx
software_proposal2.pdf
subdivision
swlab-graphic-examples
trevornoah.pdf
txcsmad.com
uMAD-iOS
umad-eweek
~$ARG_RESUME SPRING 2017.doc
~$ARG_RESUME SUMMER 2017.doc
~$ftware_proposal.docx
~$sh-print.docx
wireless-10-145-254-46:Desktop aashimagarg$ cd GameDay/
wireless-10-145-254-46:GameDay aashimagarg$ ls
GameDay.iml		gradle			local.properties
app			gradle.properties	settings.gradle
build			gradlew
build.gradle		gradlew.bat
wireless-10-145-254-46:GameDay aashimagarg$ git branch
  master
  players
* pratyush_file_caching2
wireless-10-145-254-46:GameDay aashimagarg$ git add .
wireless-10-145-254-46:GameDay aashimagarg$ git commit -m "players ui"
[pratyush_file_caching2 67a8a81] players ui
 13 files changed, 159 insertions(+), 97 deletions(-)
 delete mode 100644 app/src/main/java/com/example/pratyushsingh/scoreapp/Biography.kt
 create mode 100644 app/src/main/java/com/example/pratyushsingh/scoreapp/PlayersListViewAdapter.java
 delete mode 100644 app/src/main/res/layout/activity_biography.xml
 rewrite app/src/main/res/layout/activity_home_screen.xml (84%)
 create mode 100644 app/src/main/res/layout/cell_players.xml
wireless-10-145-254-46:GameDay aashimagarg$ git pull
remote: Counting objects: 35, done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 35 (delta 10), reused 35 (delta 10), pack-reused 0
Unpacking objects: 100% (35/35), done.
From https://github.com/atreyamisra/GameDay
   6d1f0c1..d50eaea  pratyush_file_caching2 -> origin/pratyush_file_caching2
Auto-merging app/src/main/java/com/gameday/core/backend/core/PlayersActivity.java
CONFLICT (content): Merge conflict in app/src/main/java/com/gameday/core/backend/core/PlayersActivity.java
CONFLICT (rename/delete): app/src/main/java/com/gameday/core/Biography.kt deleted in HEAD and renamed in d50eaea69ecba3cc2a4028d0cbe6ce9769938d0e. Version d50eaea69ecba3cc2a4028d0cbe6ce9769938d0e of app/src/main/java/com/gameday/core/Biography.kt left in tree.
Removing app/src/main/java/com/example/pratyushsingh/scoreapp/wrapper.java
Removing app/src/main/java/com/example/pratyushsingh/scoreapp/Team.java
Removing app/src/main/java/com/example/pratyushsingh/scoreapp/RetrieveData.java
Removing app/src/main/java/com/example/pratyushsingh/scoreapp/PlayerDAO.java
CONFLICT (modify/delete): app/src/main/java/com/example/pratyushsingh/scoreapp/PlayerAPI.java deleted in d50eaea69ecba3cc2a4028d0cbe6ce9769938d0e and modified in HEAD. Version HEAD of app/src/main/java/com/example/pratyushsingh/scoreapp/PlayerAPI.java left in tree.
Removing app/src/main/java/com/example/pratyushsingh/scoreapp/Player.java
Removing app/src/main/java/com/example/pratyushsingh/scoreapp/HomeScreen.java
Removing app/src/main/java/com/example/pratyushsingh/scoreapp/FileParser.java
Removing app/src/main/java/com/example/pratyushsingh/scoreapp/Backend.java
Auto-merging app/src/main/AndroidManifest.xml
CONFLICT (content): Merge conflict in app/src/main/AndroidManifest.xml
Automatic merge failed; fix conflicts and then commit the result.
wireless-10-145-254-46:GameDay aashimagarg$ git add .
wireless-10-145-254-46:GameDay aashimagarg$ git commit -m "merge fixed"

Session Restored

Last login: Mon Apr 30 11:15:17 on ttys000
Aashimas-MacBook-Pro:GameDay aashimagarg$ cd ..
Aashimas-MacBook-Pro:Desktop aashimagarg$ ls
09DEEE0F-7383-465C-B76F-ADF5F2499963.jpg
33B0F1A6-62FC-4601-92BC-25FEF4A621BC.JPG
AASHIMA_GARG
AASHIMA_GARG.zip
AGARG_RESUME SPRING 2017.doc
AGARG_RESUME SPRING 2017.pdf
AGARG_RESUME SUMMER 2017.doc
AGARG_RESUME SUMMER 2017.pdf
AGARG_RESUME.doc
Alaska
Archive
Article Summary 10-19 Answers.docx
Article Summary 10-19.docx
Banquet 2
CertificateSigningRequest.certSigningRequest
DSC_1023.jpg
Disney - Epcot
EE 316 home.webloc
EWeek2018
Game-Day
GameDay
GameDay2
GoogleMaps
Homework1
IMG_0366.jpeg
IMG_1476.JPG.jpeg
IMG_2561.JPG
IMG_8255.JPG
IMG_8734 2.jpg
IMG_8734.jpg
ISL article
Junior Year
Mr.SpiritApp
OS-meiosis
Paxos-master
SEC Cockrell Cares Ish!!
SEC Election Slides 2018
SEC Election Slides 2018.zip
SECLogoSet_2012.png
SFEDiploma-Print-Real-2.docx
SFEDiploma-Print-Real-2.pdf
SFEDiploma.docx
SFEDiplomas-Print.pdf
Screenshots
Seattle-Good
Summer
aag3639_as76696
computer_graphics
garg_aag3639
garg_aag3639.pdf
garg_aag3639.zip
gov.mov
gov_audio.m4a
gov_audio_real.m4a
gov_pres.pptx
gov_presentation_real.mov
hi
menger
minecraft
old_menger
ray-tracer
ray_ms1_collab.rtf
sb-to-flight-2018.pdf
scripting
skinning
skinning-copy.txt
skinning-project
software_lab_.docx
software_lab_.pdf
software_lab_2.pdf
software_lab_4.pdf
software_proposal.docx
software_proposal.pdf
software_proposal2.docx
software_proposal2.pdf
subdivision
swlab-graphic-examples
trevornoah.pdf
tutorial11.sh
txcsmad.com
uMAD-iOS
umad-eweek
~$ARG_RESUME SPRING 2017.doc
~$ARG_RESUME SUMMER 2017.doc
~$ftware_proposal.docx
~$sh-print.docx
Aashimas-MacBook-Pro:Desktop aashimagarg$ cd GameDay2
Aashimas-MacBook-Pro:GameDay2 aashimagarg$ git init
Initialized empty Git repository in /Users/aashimagarg/Desktop/GameDay2/.git/
Aashimas-MacBook-Pro:GameDay2 aashimagarg$ git remote add origin https://github.com/atreyamisra/GameDay.git
Aashimas-MacBook-Pro:GameDay2 aashimagarg$ git push origin master --force
error: src refspec master does not match any.
error: failed to push some refs to 'https://github.com/atreyamisra/GameDay.git'
Aashimas-MacBook-Pro:GameDay2 aashimagarg$ git add .
Aashimas-MacBook-Pro:GameDay2 aashimagarg$ git commit -m "NEW CODE"
[master (root-commit) 5c05467] NEW CODE
 46 files changed, 1855 insertions(+)
 create mode 100644 .gitignore
 create mode 100644 .idea/caches/build_file_checksums.ser
 create mode 100644 .idea/codeStyles/Project.xml
 create mode 100644 .idea/gradle.xml
 create mode 100644 .idea/misc.xml
 create mode 100644 .idea/modules.xml
 create mode 100644 .idea/runConfigurations.xml
 create mode 100644 app/.gitignore
 create mode 100644 app/build.gradle
 create mode 100644 app/proguard-rules.pro
 create mode 100644 app/src/androidTest/java/com/gameday/gameday2/ExampleInstrumentedTest.java
 create mode 100644 app/src/main/AndroidManifest.xml
 create mode 100644 app/src/main/java/com/gameday/gameday2/AsyncResponse.java
 create mode 100644 app/src/main/java/com/gameday/gameday2/FileParser.java
 create mode 100644 app/src/main/java/com/gameday/gameday2/Player.java
 create mode 100644 app/src/main/java/com/gameday/gameday2/PlayersActivity.java
 create mode 100644 app/src/main/java/com/gameday/gameday2/PlayersListViewAdapter.java
 create mode 100644 app/src/main/java/com/gameday/gameday2/RetrieveData.java
 create mode 100644 app/src/main/java/com/gameday/gameday2/RetrieveJSON.java
 create mode 100644 app/src/main/res/drawable-v24/ic_launcher_foreground.xml
 create mode 100644 app/src/main/res/drawable/ic_launcher_background.xml
 create mode 100644 app/src/main/res/layout/activity_players.xml
 create mode 100644 app/src/main/res/layout/cell_players.xml
 create mode 100644 app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
 create mode 100644 app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
 create mode 100644 app/src/main/res/mipmap-hdpi/ic_launcher.png
 create mode 100644 app/src/main/res/mipmap-hdpi/ic_launcher_round.png
 create mode 100644 app/src/main/res/mipmap-mdpi/ic_launcher.png
 create mode 100644 app/src/main/res/mipmap-mdpi/ic_launcher_round.png
 create mode 100644 app/src/main/res/mipmap-xhdpi/ic_launcher.png
 create mode 100644 app/src/main/res/mipmap-xhdpi/ic_launcher_round.png


*.iml
# Created by https://www.gitignore.io/api/java,gradle,android,androidstudio

### Android ###
# Built application files
*.apk
*.ap_

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Generated files
bin/
gen/
out/

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Proguard folder generated by Eclipse
proguard/

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Intellij
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Freeline
freeline.py
freeline/
freeline_project_description.json

### Android Patch ###
gen-external-apklibs

### AndroidStudio ###
# Covers files to be ignored for android development using Android Studio.

# Built application files

# Files for the ART/Dalvik VM

# Java class files

# Generated files

# Gradle files
.gradle

# Signing files
.signing/

# Local configuration file (sdk path, etc)

# Proguard folder generated by Eclipse

# Log Files

# Android Studio
/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.ipr
*~
*.swp

# Android Patch

# External native build folder generated in Android Studio 2.2 and later

# NDK
obj/

# IntelliJ IDEA
*.iws
/out/

# User-specific configurations
.idea/caches/
.idea/libraries/
.idea/shelf/
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Legacy Eclipse project files
.classpath
.project
.cproject
.settings/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs (Reference: http://www.java.com/en/download/help/error_hotspot.xml)
hs_err_pid*

## Plugin-specific files:

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Mongo Explorer plugin
.idea/mongoSettings.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### AndroidStudio Patch ###

!/gradle/wrapper/gradle-wrapper.jar

### Java ###
# Compiled class file

# Log file

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)

# Package Files #
*.jar
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml

### Gradle ###
**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties


# End of https://www.gitignore.io/api/java,gradle,android,androidstudio
